RewriteEngine On
RewriteBase /


RewriteRule ^list/([0-9]+)/([0-9]+).html?(.*?)$ /e/action/ListInfo/index\.php\?classid=$1&page=$2
RewriteRule ^show/([0-9]+)/([0-9]+)/([0-9]+).html?(.*?)$ /e/action/ShowInfo\.php\?classid=$1&id=$2&page=$3
RewriteRule ^search-([0-9]+)-([0-9]+).html?(.*?)$ /e/search/result/index\.php\?page=$1&searchid=$2
RewriteRule ^tags-(.*?).html?(.*?)$ /e/tags/index\.php\?tagname=$1&page=$2
RewriteRule ^user/([0-9]+)$ /e/member/user/index\.php\?userid=$1
RewriteRule ^user/([0-9]+)/$ /e/member/user/index\.php\?userid=$1